.containerInput {
	border: 1px solid var(--border-grey);
	position: relative;
	display: flex;
	border-radius: 1px;
	margin-bottom: 9px;
	overflow: hidden;
}

.input {
	font-size: 16px;
	outline: none;
	flex: 1;
	border: none;
	padding: 10px 0px 9px 8px;
	z-index: 1;
	background: transparent;
}

.inputLabel {
	position: absolute;
	left: 8px;
	top: 8px;
	transition: all 0.3s ease;
	color: var(--text-grey-0);
}

.input:valid {
	font-size: 12px;
	padding: 18px 0px 5px 8px;
}

.input:valid ~ .inputLabel {
	font-size: 12px;
	transform: translateY(-10px);
	top: 12px;
}
